<div style="background-color: #ffffff;">


<main class="container mt-5">

    <div class="row"  style="display: flex; align-items: center; text-align: center;">
      <h2 style="color:navy">Integrantes</h2>

      <div class="col-lg-3">
        <img  class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://static.vecteezy.com/system/resources/thumbnails/002/002/332/small/ablack-man-avatar-character-isolated-icon-free-vector.jpg" alt="">

        <h2 class="fw-normal">Jose Ángel</h2>
        <p>Luna Cruz</p>
      </div>


      <div class="col-lg-3">
            <img  class="bd-placeholder-img rounded-circle" width="150" height="130" src="https://static.vecteezy.com/system/resources/previews/002/400/532/original/young-happy-businessman-character-avatar-wearing-business-outfit-isolated-free-vector.jpg" alt="">

        <h2 class="fw-normal">Carlos Fernando</h2>
        <p>Soto Zepeda</p>
      </div>

      <div class="col-lg-3">
          <img  class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE8VVuDg3e3YqGVRudKlJXAQ7mm1wzgW5OVw&usqp=CAU" alt="">

        <h2 class="fw-normal">Yuczara Marlen</h2>
        <p>Hernández Morales</p>
      </div>

      <div class="col-lg-3">
            <img  class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://static.vecteezy.com/system/resources/thumbnails/002/002/403/small_2x/man-with-beard-avatar-character-isolated-icon-free-vector.jpg" alt="">

            <h2 class="fw-normal">Fernando</h2>
            <p>Bocanegra Herrera</p>
          </div>
    </div>
</main>
<br>
</div>
<div>
  <div style="text-align: center;" class="p-5">
    <div class="bd-placeholder-img rounded-circle "  width="160" height="160">
      <img  class="bd-placeholder-img rounded-circle" width="160" height="160" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSszM77ccdPorCumDVmPDvIrG33vYs6q8fyUg&usqp=CAU" alt="">
    </div>
</div>
</div>